.principal {
  margin-left: 5em;
  margin-top: 0.5em;
}

.button-confirmar {
  align-items: center;
  align-content: center;

  width: '100px';
}

.input-search {
  margin-bottom: 0.5em;
}

.table-content {
  align-content: flex-end;
}

.button-new {
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 8px;
}
